*,
span,
.btn {
  font-family: "Terminal", sans-serif;
  color: #00ff00;
}

body {
  width: 100vw;
  height: 100vh;
}

.btn {
  border: dashed #00ff00;
  color: #00ff00;
}

.btn:hover {
  border: dashed white;
  color: white;
}

.btnBorder {
  border: dashed #00ff00;
}

td {
  vertical-align: middle;
}

.form-head th {
  color: black;
  background-color: #00ff00;
}

input[type="text"],
[type="tel"],
[type="email"] {
  border: none;
  /* border-bottom: 1px solid #00ff00; */
  background-color: black;
}

.modal-header {
  width: 100%;
  border-bottom: 1px dotted #00ff00;
}

.modal-footer {
  width: 100%;
  border-top: 1px dotted #00ff00;
}

input[type="text"] {
  width: 300px;
}

input[type="tel"] {
  width: 130px;
}

input[type="radio"] {
  width: 90px;
}

input[type="email"] {
  width: 400px;
}

tr:hover td {
  background-color: rgb(20, 58, 0);
  color: green;
}
