*,
span,
.btn {
  font-family: "Terminal", sans-serif;
  color: #00ff00;
}

body {
  width: 100vw;
  height: 100vh;
}

.button .btn,
.btn {
  border: dashed #00ff00;
  color: #00ff00;
}

.btnBorder {
  border: dashed #00ff00;
}

td {
  vertical-align: middle;
}

.form-head th {
  color: black;
  background-color: #00ff00;
}
